.SelectDrop {
    width: 200px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 120%;
    left: 0px;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 15px;
    border-radius: 4px;
}

.selectDropWrapper .openSelect {
    display: block;
    padding: 10px 0px;


}

.selectDropWrapper .openSelect .arrow {
    position: absolute;
    top: 11px;
    right: 11px;
    font-size: 25px;
}

.searchField input {
    width: 100%;
    height: 50px;
    border: 1px solid #bce3c9;
    outline: none !important;
    padding: 0px 15px;
}

.SelectDrop .searchResults {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding: 10px 0px;
    max-height: 300px;
    overflow-y: scroll;
}


.SelectDrop .searchResults::-webkit-scrollbar {
    width: 10px !important;

}

.SelectDrop .searchResults::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.SelectDrop .searchResults li {
    list-style: none;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
}

.SelectDrop .searchResults li:hover {
    background: #3bb77e;
    color: #fff;
}

.SelectDrop .searchResults li:active {
    background: #f1f1f1;
    color: #000 !important;
}