.TopSelling_box h3::before {
  content: "";

  width: 20%;

  height: 3px;

  background: #bce3c9;

  position: absolute;

  bottom: 0px;

  left: 0px;

  z-index: 10;
}
.sidebar .card {
  padding: 25px;
  border-radius: 10px !important;
  margin-bottom: 40px;
}
.sidebar .card .catlist .catItem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
/* .sidebar .card .catlist .catItem img {
  padding: 10px 0px;
} */
.sidebar .card .catlist .catItem:hover {
  border: 1px solid #bce3c9;
}

.sidebar .card .catlist .catItem h4 {
  margin-left: 20px;
  font-size: 18px;
  color: black;
  transition: all 0.2s ease-in-out;
}
.sidebar .card .catlist .catItem h4:hover {
  color: #bce3c9;
}
.sidebar .card .catlist .catItem .rounded-circle {
  background: #bce3c9;
  width: 40px;
  height: 40px;
}
.priceRange span {
  font-size: 20px;
  align-items: stretch;
}

.filters {
  padding: 25px 0px;
}
.filters ul {
  max-height: 200px;
  overflow-y: scroll;
}
.filters ul::-webkit-scrollbar {
  width: 7px !important;
}
.filters ul::-webkit-scrollbar-thumb {
  background: #fff !important;
}

.filters h5 {
  /* padding-left: 40px; */
  font-weight: 600;
  color: #56605c;
  margin-bottom: 10px;
}
.filters ul li {
  width: 100%;
  margin-bottom: 0px;
  list-style: none;
  color: #56605c;
}

.filters button {
  font-size: 20px !important;
  color: #3bb77e !important;
  padding: 10px 25px !important;
  background: #def9ec !important;
  text-transform: capitalize !important;
}
.filters button:hover {
  background: #fdc040 !important;
  color: #fff !important;
}
.filters img {
  padding-left: 30px;
  width: 125px;
}
