.catSliderSection {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.cat_slider_main .slick-slide {
    padding-right: 20px !important;
}


.cat_slider_main .item {

    height: auto;
    background: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
}

.cat_slider_main .item .info {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cat_slider_main .item .info h4 {
    font-weight: 600 !important;
}

.cat_slider_main .item .info span {
    font-size: 15px;
    opacity: 0.8;
    color: #000;
    margin-bottom: 0px;
}


.cat_slider_main .slick-arrow {
    zoom: 80%;
}

.cat_slider_main .slick-arrow.slick-next {
    top: -50px !important;
    right: 15px !important;

}

.cat_slider_main .slick-arrow.slick-prev {
    top: -50px !important;
    right: 100px !important;
    left: inherit !important;
}