@media only screen and (min-width: 320px) and (max-width: 575px) {
  nav,
  .dropdownMenuAcc {
    width: 80% !important;
  }

  .home_slider_main .item {
    margin-top: 10px !important;
  }

  .home_slider_main .info h2 {
    font-size: 7vw !important;
  }

  .home_slider_main .info p {
    font-size: 4vw !important;
  }
}

@media only screen and (min-width: 575px) and (max-width: 767) {
  nav,
  .dropdownMenuAcc {
    width: 50% !important;
  }

  .home_slider_main .info h2 {
    font-size: 5vw !important;
  }

  .home_slider_main .info p {
    font-size: 2vw !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  nav,
  .dropdownMenuAcc {
    width: 30% !important;
  }

  .home_slider_main .info h2 {
    font-size: 7vw !important;
  }

  .home_slider_main .info p {
    font-size: 5vw !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lastStrip .part_1,
  .part_2,
  .part_3 {
    padding: 10px 0px !important;
  }

  .lastStrip {
    justify-content: center;
  }

  .lastStrip .col-md-3 {
    text-align: center;
  }

  .lastStrip .part3 .d-flex {
    justify-content: center;
  }

  .lastStrip .TopWrapper {
    flex-direction: column !important;
  }

  footer .lastStrip .Phon p {
    font-size: 23px !important;
    opacity: 0.8;
  }

  .mx-5 {
    margin-right: 3rem !important;
    margin-left: 2rem !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 350px) {
  .homeProducts .productRow .item {
    width: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  body,
  html {
    overflow: hidden !important;
  }

  .headerWrraper.fixed {
    top: 0px !important;
  }

  .header {
    box-shadow: 0px 1px 5px #0000001a;
  }

  .nav {
    position: absolute !important;
    border: 0px !important;
  }

  .afterHeader {
    margin-top: 100px !important;
  }

  .container-fluid {
    padding: 0px 25px !important;
  }

  .responsive_hide {
    display: none !important;
  }

  .res_full {
    width: 100%;
  }

  .headerWrraper .part1 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .navbarToggle {
    width: 60px;
    margin-left: auto !important;
    margin-right: 120px;
  }

  .location {
    margin-right: -10px;
  }

  .headerWrraper .part1 .navbarToggle svg {
    font-size: 30px !important;
    margin-right: auto !important;
  }

  /* header .part2 {
    display: none !important;
  } */

  .headerWrraper .d-flex.part3 {
    display: none !important;
  }

  .headerSearch {
    position: fixed !important;
    top: 0px;
    right: -100%;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 100% !important;
    background: #fff;
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 30px !important;
    padding-top: 90px !important;
    border: 0px !important;
    transition: all 0.3s ease-in-out;
  }

  .headerSearch.open {
    opacity: 1;
    right: 0px;
  }

  header .headerSearch .search {
    padding-left: 0px !important;
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0, 1) !important;
    padding: 10px !important;
    margin-top: 15px !important;
  }

  header .headerSearch .selectDropWrapper {
    width: 100% !important;
  }

  header .headerSearch .search .searchIcon {
    top: 22px !important;
    right: 10px !important;
  }

  header .logo {
    width: 120px;
  }

  .closeSearch {
    position: absolute;
    top: 20px;
    z-index: 100;
    cursor: pointer;
    width: 40px;
    height: 30px;
  }

  .closeSearch svg {
    font-size: 35px !important;
  }

  .counrtyWrapper {
    margin-left: 100px;
  }

  .openSelect {
    margin-left: 20px;
  }

  .myAccDrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #3bb77e;
    border-radius: 50%;
    margin-left: 20px;
  }

  .myAccDrop svg {
    color: #fff !important;
    font-size: 20px !important;
  }

  header .headerTabs {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  nav {
    width: 60% !important;
    height: 100%;
    position: fixed !important;
    top: 0px;
    right: -100%;
    background: #fff;
    z-index: 1000;
    transition: all 0.3s;
    opacity: 0;
  }

  nav.open {
    opacity: 1;
    right: 0px;
  }

  nav ul li {
    width: 100%;
    margin: 0px !important;
  }

  nav ul li button {
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
  }

  .nav ul li button a {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
  }

  nav ul li button a svg {
    margin-left: auto !important;
    font-size: 30px !important;
  }

  nav ul li button * {
    font-size: 25px !important;
  }

  .navbarOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0, 0.5) !important;
    z-index: 100;
    display: none;
  }

  .nav nav .dropdown_menu {
    display: none !important;
  }

  .dropdownMenuAcc {
    right: 0px !important;
    opacity: 1 !important;
    top: 0px !important;
    z-index: 100000 !important;
  }

  .dropdownMenuAcc li button {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !;
    font-size: 24px !important;
  }

  .home_slider_main .info h2 {
    font-size: 7vw !important;
  }

  .home_slider_main .info p {
    font-size: 4vw !important;
  }

  .catSliderSection {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .cat_slider_main .slick-track {
    white-space: nowrap !important;
    overflow-x: scroll !important;
    display: block !important;
    width: 100% !important;
  }

  .cat_slider_main .slick-track .slick-slide {
    display: inline-block !important;
    width: 200px !important;
    float: none !important;
  }

  .cat_slider_main .item {
    margin-left: 70px !important;
  }

  .cat_slider_main .item:hover .info .cat_slider_main .slick-current .info {
    transform: scale(1) !important;
  }

  .cat_slider_main.slick-initialized .slick-list {
    padding-left: 0px !important;
  }

  .hd {
    margin-bottom: 15px !important;
    width: 100% !important;
    text-align: center !important;
  }

  .BannerSection .row {
    white-space: nowrap !important;
    overflow-x: scroll !important;
    width: 100%;
    padding-left: 30px;
  }

  .BannerSection .row::-webkit-scrollbar {
    display: none !important;
  }

  .BannerSection .row .col {
    width: 400px !important;
    float: none !important;
    display: inline-block !important;
  }

  .homeProductsTitleWrapper {
    flex-direction: column;
  }

  .homeProductsTitleWrapper h2 {
    width: 100% !important;
  }

  .homeProducts .filterTab {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    display: block !important;
    margin-top: 10px !important;
  }

  .homeProducts .filterTab li {
    display: inline-block !important;
    vertical-align: top;
    width: max-content;
    margin-left: 0px !important;
    margin-right: 20px !important;
  }

  .homeProducts .productRow {
    white-space: nowrap;
    overflow-x: scroll !important;
    width: 100% !important;
    display: block !important;
  }

  .homeProducts .productRow .item {
    width: 350px !important;
    vertical-align: top !important;
    display: inline-block !important;
    margin-left: 10px !important;
  }

  .homeProducts .productRow .item * {
    white-space: normal !important;
  }

  /* .homeProductsRow2 .col-md-9 {
    width: 100% !important;
  }
  .homeProductsRow2 {
    width: 100% !important;
  } */

  /* .homeProductsRow2 .slick-track {
    overflow-x: scroll !important;
    width: 100% !important;
    display: block !important;
  } */
  .homeProductsRow2 .col-md-9 {
    width: 100% !important;
  }

  .homeProductsRow2 .slick-track {
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
  }

  .homeProductsRow2 .slick-track .slick-slide {
    width: 400px !important;
    vertical-align: top !important;
    display: inline-block !important;
    float: none !important;
  }

  .homeProductsRow2 .slick-track .slick-slide * {
    white-space: normal !important;
  }

  .topProductsSection .row {
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
    width: 100% !important;
  }

  .topProductsSection .row .col {
    width: 400px !important;
    vertical-align: top !important;
    display: inline-block !important;
    float: none !important;
  }

  .topProductsSection .row .col * {
    white-space: normal !important;
  }

  .newsLetterSection .box {
    padding: 40px !important;
  }

  .newsLetterSection .box .info {
    width: 100% !important;
  }

  .newsLetterSection .box .info h2 {
    font-size: 35px !important;
  }

  .footerbases .row {
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
    width: 100% !important;
  }

  .footerbases .row .col {
    width: 400px !important;
    vertical-align: top !important;
    display: inline-block !important;
    float: none !important;
    padding-bottom: 20px;
  }

  .footerbases .row::-webkit-scrollbar {
    display: none !important;
  }

  .col-md-3 .part1 p {
    padding-left: 20px !important;
  }

  footer img {
    width: 180px !important;
    margin-left: 20px !important;
  }

  footer .text {
    font-size: 20px !important;
    margin-left: 30px !important;
  }

  footer .footerText {
    font-size: 20px;
  }

  footer .footerElement {
    padding-left: 20px !important;
    padding-top: 0px;
  }

  footer .part2 {
    padding-top: 25px;
    padding-bottom: 30px !important;
  }

  footer .part2 .row {
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
    width: 100% !important;
  }

  footer .part2 .row .col {
    width: 230px !important;
    vertical-align: top !important;
    display: inline-block !important;
    float: none !important;
    padding-bottom: 20px;
  }

  footer .part3 h3 {
    margin-bottom: 0px !important;
  }

  footer .part3 p {
    margin-bottom: 0px !important;
  }

  footer .widthImg {
    width: 100% !important;
    margin-right: 20px !important;
  }
  footer .lastStrip .lastStrip_P-text {
    padding-top: 0px;
  }

  .lastStrip .col-md-3 {
    text-align: center;
    padding-top: 0px !important;
  }

  /* .d-flex {
    display: contents !important;
  } */

  .breadcrumb {
    padding: 15px 25px !important;
  }

  .rightCounter .topStrip p {
    font-size: 19px !important;
  }
  .slidebarWrapper {
    display: none !important;
  }
}
